.gpt3__brands {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.gpt3__brands div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    flex: 1;
    min-width: 120px;
    max-width: 150px;
}