.gpt3__feature-container__features {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  flex-direction: row;
  margin: 1rem;
}

.gpt3__feature-container__features-title {
  flex: 1;
  margin-right: 2rem;
  max-width: 180px;
}

.gpt3__feature-container__features-title h1 {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.04em;

  color: #ffffff;
}

.gpt3__feature-container__features-title div {
  background: var(--gradient-bar);
  width: 38px;
  height: 3px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.25rem;
}

.gpt3__feature-container__features-text {
  flex: 2;
  display: flex;
  max-width: 840px;
}
.gpt3__feature-container__features-text p {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--color-text);
}

@media screen and (max-width: 550px) {
    .gpt3__feature-container__features-title h1 {
        font-size: 14px;
        line-height: 22px;
    }
    .gpt3__feature-container__features-text p {
        font-size: 12px;
        line-height: 20px;
    }
    .gpt3__feature-container__features {
        margin: 1rem 0;
    }
}